a,
a u {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: inherit;
}

a {
    border-color: rgba(54, 122, 195, 0.15);
    -webkit-transition-property: border-bottom, border-color, background, color;
    -moz-transition-property: border-bottom, border-color, background, color;
    -o-transition-property: border-bottom, border-color, background, color;
    transition-property: border-bottom, border-color, background, color;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a:hover,
a.hover {
    color: #d04000;
    text-decoration: none;
    border-color: rgba(208, 64, 0, 0.15);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

header h1 {
    text-align: center;
}

header h1 a {
    color: #343a40;
    border-color: rgba(0, 0, 0, 0.15);
}

article {
    margin-bottom: 15px;
}

article h1 {
    line-height: 1.2;
}

article h1 a {
    color: #343a40;
    border-color: rgba(0, 0, 0, 0.15);
}

time {
    color: #868e96;
}

footer p {
    text-align: center;
}

pre {
    border-left: none;
    padding-left: 0px;
}

.paging {
    text-align: center;
}

img.logo {
    width: 64px;
    height: 64px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;

    border-radius: 50%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    article {
        margin: 15px auto;
        width: 91.66%;
    }
}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    article {
        margin: 15px auto;
        width: 960px;
    }
}