{{ partial "header.html" . }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
		
			<h2>{{ i18n "keywords" }}</h2>
			<ul>
				{{ $tags := $.Site.Taxonomies.tags.ByCount }}
				{{ $v1 := where $tags "Count" ">=" 3 }}
				{{ $v2 := where $v1 "Term" "not in" (slice "hugo" "tags" "rss") }}
				{{ range $v2 }}
					{{ if .Term }}
						{{ $tagURL := printf "tags/%s" .Term | relURL }}
						<li><a href="{{ $tagURL }}" >{{ .Term }} ({{ .Count }})</a></li>
					{{ end }}
				{{ end }}
			</ul>

			<h2>{{ i18n "byDate" }}</h2>
			{{ range (where .Site.Pages "Type" "post" ).GroupByDate "2006" }}
			<h3>{{ .Key }}</h3>
			<ul>
				{{ range (where .Pages "Title" "not in" (slice "Posts")) }}
				<li>
				{{ .Date.Format "02.01.2006" }} <a href="{{ .Permalink }}">{{ .Title }}</a>
				</li>
				{{ end }}
			</ul>
			{{ end }}
		</article>
	</main>
{{ partial "footer.html" . }}