{{ partial "header.html" . }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<time>{{ .Date.Format "02.01.2006" }}</time>
			<div>
				{{ .Content }}
			</div>
			<div>
				<div>
					<h2>{{ i18n "keywords" }}</h2>
				</div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ partial "sidebar.html" . }}
		</article>
	</main>
{{ partial "footer.html" . }}