	<footer>
		<nav>
			<ul>
				{{ range .Site.Menus.footer }}
				<li><small><a href="{{ .URL | relURL }}">{{ .Name }}</a></small></li>
				{{ end }}
			</ul>
		</nav>  
		<p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
	</footer>
</body>
</html>