<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us " }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}
	<meta name="description" content="{{ . }}">{{ end }} {{ with .Site.Params.author }}
	<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/tacit.min.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/atom-one-light.css">
	<script src="{{ .Site.BaseURL }}/js/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	{{ if .RSSLink -}}
		<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">
	{{- end }} 
	{{ .Hugo.Generator }}
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter = new Ya.Metrika({
						id:{{ .Site.Params.yaMetrica }},
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true
					});
				} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/{{ .Site.Params.yaMetrica }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</head>

<body>
	<header>
		{{ if .Site.Params.logoUrl -}}
			<img class="logo" src="{{ .Site.Params.logoUrl }}">
		{{- end }}
			<h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
		<nav>
			<ul>
				{{ range .Site.Menus.main }}
				<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</nav>
	</header>