<div class="paging">
{{ if .Paginator.HasPrev }}
	<a href="{{ .Paginator.Prev.URL }}">&#8592; {{ i18n "prevPage" }}</a>
{{ end }}
{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
{{ if .Paginator.HasNext }}
	<a href="{{ .Paginator.Next.URL }}">{{ i18n "nextPage" }} &#8594;</a>
{{ end }}
</div>