	<aside>
		<div>
			<div>
				<h2>{{ i18n "latestPub" }}</h2>
			</div>
			<div>
				<ul>
					{{ range first 5 .Site.Pages }}
					<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					{{ end }}
				</ul>
			</div>
		</div>
	</aside>
