	<article>
		<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		<time>{{ .Date.Format "02.01.2006" }}</time>
		{{ range .Params.tags }}
		<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
		{{ end }}
		<div>
			{{ $parts := split .Content "<!-- more -->" }}
			{{ $summary := index $parts 0 }}
			{{ $summaryHTML := safeHTML $summary }}

			{{ if eq $summaryHTML .Content }}
    			{{ .Content }}
			{{ else }}
    			{{ $summaryHTML }}
    			<a href="{{ .Permalink }}">{{ i18n "readMore" }} →</a>
			{{ end }}
		</div>
	</article>